#navbar{
    display:flex;
    justify-content: space-around;
    text-align: center;
    font-size: 30px;
    background-color: blueviolet;
   
    padding:20px;
}
a{
    text-decoration: none;
    color: white;
}
#form{
    margin-top:20px;
    display: flex;
    justify-content: space-evenly;
}